<div class="gallery">
  <% @comics[:results].each do |comic| %>
    <div class="image-container">
      <%= image_tag(comic[:image_url], alt: comic[:title], width: 200) %>      
      <div class="overlay">
          <div class="title"><h3><%= comic[:title] %></h3></div>
      </div>
      
      <% if @favorites.any? { |f| f.comic_id == comic[:id] } %>
        <div class="heart-on">          
          <%= link_to comics_remove_favorite_path(id: @favorites.find { |f| f.comic_id == comic[:id] }.id), data: { turbo_method: :delete } do %>
            <%= image_tag('heart_on.png') %> 
          <% end %>
        </div>
      <% else %>
        <div class="heart-off">
          <%= link_to comics_add_favorite_path(comic: { id: comic[:id], title: comic[:title], image_url: comic[:image_url] }), data: { turbo_method: :post } do %>
            <%= image_tag('heart_off.png') %> 
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
